// Default variable overrides
$body-bg: #f8f8f5;
$body-color: #202020;

// Colors
$primary: #202020;
$secondary: #EFEFEF;
$purple: #a300c0;

// Typography
$font-family-sans-serif: "Nunito", serif;
$font-size-base: 1.05rem;
$line-height-base: 1.55;

// Inputs
$input-bg: #FFFFFF;
$input-border-width: 1px;

// Table
$table-bg: #fff;

// Pagination
$pagination-bg: #fff;

// Dropdown
$dropdown-bg: #fff;

// Buttons
$btn-padding-y: .7rem;

// Utility
$border-color: rgba(7, 59, 58, 0.2);

// Form label
$form-label-font-size: 16px;
$form-label-margin-bottom: 0px;

// Enable utilities
$enable-negative-margins: true;

// Create your own map
$custom-colors: (
	'body': $body-bg,
	'body-color': $body-color,
    'secondary-2': #e6e6e6,
    'darker': #000,
    'white': #fff,
    'purple': $purple,
    'soft-red': #fbb3b3,
    'soft-green': #d1e7dd,
    'body-bg': $body-bg
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1360px
);

// Custom variables used in _helpers
$custom-breakpoints: (
	'xs', 'sm', 'md', 'lg', 'xl', 'xxl', 'xxxl'
);

// Custom variables used in _helpers
$custom-font-sizes: (
    '4rem',
    '3.6rem',
    '3.5rem',
    '3.2rem', 
    '3rem',
    '2.8rem',
    '2.7rem', 
    '2.5rem',
    '2.2rem',
    '2.1rem',
    '2rem',   
    '1.8rem',
    '1.75rem',
    '1.7rem',
    '1.65rem',
    '1.6rem', 
    '1.5rem',
    '1.4rem', 
    '1.3rem',
    '1.2rem', 
    '1.15rem',
    '1.1rem',
    '1.08rem',
    '1.07rem',
    '1.05rem',
    '1rem',   
    '0.95rem',
    '0.9rem',
    '0.88rem',
    '0.85rem',
    '0.8rem',
    '0.75rem',
    '0.7rem',
);

// Custom variables used in _helpers
$custom-width-sizes: (
    '100vh',
    '1500px',
    '1400px',
    '1350px',
    '1300px',
    '1250px',
    '1200px',
    '1100px',
    '1000px',
    '950px',
    '920px',
    '900px',
    '850px',
    '822px',
    '800px',
    '750px',
    '700px',
    '680px',
    '650px',
    '600px',
    '580px',
    '576px',
    '550px',
    '515px',
    '500px',
    '450px',
    '425px',
    '400px',
    '390px',
    '385px',
    '350px',
    '300px',
    '260px',
    '250px',
    '220px',
    '210px',
    '200px',
    '190px',
    '185px',
    '180px',
    '170px',
    '160px',
    '150px',
    '140px',
    '130px',
    '125px',
    '110px',
    '100px',
    '90px',
    '80px',
    '75px',
    '70px',
    '66px',
    '65px',
    '60px',
    '55px',
    '50px',
    '48px',
    '43px',
    '40px',
    '35px',
    '33px',
    '32px',
    '30px',
    '29px',
    '28px',
    '27px',
    '26px',
    '25px',
    '20px',
    '14px',
);

// default utilities
$utilities: (
    "opacity": (
        property: opacity,
        values: (
            25: .25,
            50: .5,
            65: .65,
            75: .75,
            100: 1,
        )
    ),
);